@import "reset";
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Dela+Gothic+One&family=Heebo:wght@400;500;700&family=Montserrat:wght@600&display=swap");

html,
body {
  font-family: "Heebo", sans-serif;
  color: $black;
}


h1 {
  font-size: 70px;
}

h2 {
  font-size: 60px;
}

/*=============== MEDIA ===============*/
@media (max-width: 390px) {
  h1, h2 {
    font-size: 15px;
  }
}